{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}{{ title }} - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">{{ title }}</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    
                    <div class="row">
                        <div class="col-md-6">
                            {{ form.first_name|as_crispy_field }}
                            {{ form.last_name|as_crispy_field }}
                            {{ form.email|as_crispy_field }}
                            {{ form.phone|as_crispy_field }}
                        </div>
                        <div class="col-md-6">
                            {{ form.loyalty_points|as_crispy_field }}
                            {{ form.active|as_crispy_field }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            {{ form.address|as_crispy_field }}
                            {{ form.notes|as_crispy_field }}
                        </div>
                    </div>

                    <div class="d-flex justify-content-between">
                        <a href="{% url 'customers:customer_list' %}" class="btn btn-secondary">
                            <i class="fas fa-arrow-left"></i> Retour
                        </a>
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i> Enregistrer
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}